body {
  margin: 30px;
  color: lightgray;
}
.container {
  padding: 0%;
}
.wrapper {
  margin: 0 auto;
  max-width: 525px;
  min-width: 525px;
}
.weather-project {
  padding: 25px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.open-source {
  margin-top: 10px;
  font-size: xx-small;
  text-transform: none;
}
.btn {
  margin-left: 4px;
}
