.Forecast {
  text-align: center;
  color: black;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 5px;
}
img {
  width: 70px;
}
.col {
  padding: 0px;
}
strong {
  font-size: 13px;
  line-height: 5px;
}
