h1,
strong {
  color: black;
  font-weight: 750;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 110px;
}
.weather-description {
  text-transform: capitalize;
  margin-bottom: 15px;
}